<div class="container">
	<div>
		<br/>
		<h4 class="p-1 bg-primary text-white">Sort & Search Data By Name</h4>

		<div class="float-right">
			<input class="form-control" type="text" placeholder="Search" [(ngModel)]="name" (input)="searchByName()"/>
		</div>
			<br/>
			<br/>
			<div>
				<table class="table table-bordered">
					<thead class="thead-dark">
						<th>Id</th>
						<th>Name</th>
						<th>Department</th>
						<th>Joining Date</th>
					</thead>
					<tbody *ngFor="let data of candidateData; let i=index;">
						<td>{{i+1}}</td>
						<td>{{data.name}}</td>
						<td>{{data.department}}</td>
						<td>{{data.joining_date}}</td>
					</tbody>
				</table>
			</div>
		</div>
		<br/>
		<br/>
		<div>
			<h4 class="p-1 bg-secondary text-white">Distinct Departments Names</h4>
			<div *ngFor="let value of distinctArray">{{value}}</div>
			<h4 class="p-1 bg-secondary text-white">Total Count Of Distinct Department</h4>
			<h6>{{countDistinctArray}}</h6>
		</div>
		<br/>
		<br/>
		<div>
			<h4 class="p-1 bg-info text-white">Remove Candidate From Development Department</h4>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<th>Id</th>
					<th>Name</th>
					<th>Department</th>
					<th>Joining Date</th>
				</thead>
				<tbody *ngFor="let data of removeCandidataArray; let i=index;">
					<td>{{i+1}}</td>
					<td>{{data.name}}</td>
					<td>{{data.department}}</td>
					<td>{{data.joining_date}}</td>
				</tbody>
			</table>
		</div>
	</div>